.title{
    font-family: 'Andika New Basic', sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: #59606d;
    letter-spacing: 1mm;
    padding: 20px 0 20px 0;
    text-align: center;



}


.button{
    background-color: #fb4d46;
    border: none;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    font-family: 'Andika New Basic', sans-serif;
}
.button#hover{
    text-decoration: none;
    
}

.logo {
    width: 90%;
    height: auto;
    background-position: center;
    position: relative;
}

@media screen and (max-width: 700px) {
    .logo {
        width: 100%;
        height: auto;
        background-position: center;
    }
}
#myList{
    color: #fb4d46;
    padding: 40px 0 40px 0;
    text-align: center;
}

p{
    color: #59606d;
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
}

.createItem{
    font-family: 'Montserrat', sans-serif;
    color: #fb4d46;
    padding: 40px 0 40px 0;
    font-size: 16px;
    text-align: center;
}
select{
    font-size: 16px;
    text-align: center;
}
.outro {
    font-size: 15px;
    font-family: 'Commissioner', sans-serif;
    margin-top: 150px;
    color: #59606d;
}
.home{
    float: left;
}
.top{
    display: none; 
    bottom: 20px;
    right: 30px; 
    z-index: 99;
    border: none; 
    outline: none; 
    padding: 15px; 
    font-size: 18px;
    float: right;
}


.social-media {
    font-size: 40px;
}

i {
    font-size: 40px;
    color: #C7C7C7;
    text-align: center;
    margin: 40px;
    -webkit-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
}

i:hover {
    color: #59606d;
    ;
}

.copyright {
    color: #414141;
}
.footer {
    text-align: center;
  }